<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pomodoro_Timer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pomodoro_Timer.My.MySettings>
            <setting name="WORK_TIME" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="BREAK_TIME" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="alarm_start" serializeAs="String">
                <value>alarm1_start.wav</value>
            </setting>
            <setting name="alarm_stop" serializeAs="String">
                <value>alarm1_stop.wav</value>
            </setting>
        </Pomodoro_Timer.My.MySettings>
    </userSettings>
</configuration>
